*{
    margin: 0;
    padding: 0;
}
body{
    background: url("2.png");
    background-color: rgb(226, 82, 111);
	background-size: cover;
	background-position: center;
}
div.main{
    width: 390px;
    margin-left: 750px;
    margin-top: 80px;
      
}
h3{
    text-align: center;
    padding: 16px;
    font-family: sans-serif;
    background-color: darkblue;
    border-radius: 10px;
    color: white;
    font-size: medium;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
    
}

div.register{
    background-color: white;
    width: 100%;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.2);

}

form#register{
    margin: 20px;
}

input#name{
    width: 300px;
    padding: 9px;
    border-radius: 5px;
    border: 1px solid rgb(148, 145, 145);
    margin: 13px;
    
}
input#submit{
    margin: 13px;
    color: white;
    width: 320px;
    padding: 7px;
    font-size: 13px;
    cursor: pointer;
    background-color: rgb(30, 196, 94);
    border-radius: 5px;
    border: 1px solid  rgb(30, 196, 94);
    box-shadow: 0px 4px rgb(49, 167, 49);
}
div.header{
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
    font-family: sans-serif;
}
h1{
    font-size: 45px;
}